footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 0;
    height: 75px;
    border: none;
    border-color: none;
    background-color: #5eb990;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


.footer__unorderedlist--listitems {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    color: #063a38;
    font-size: 12px;
    padding: 0px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    border: none;
}

.footer__listitems--home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;

}

.footer__listitems--explore {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}
.footer__listitems--treasures {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}
.footer__listitems--profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}