footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 0;
    margin-top: 0px;
    border: none;
    border-width: thin;
    border-color: none;
    background-color: #5eb990;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
    box-shadow: 0px 0px 22px 0px rgba(6,58,56,0.1);

    z-index: 1000;
}

/* CONTAINER_LISTITEMS & ICONS */

.footer__unorderedlist--listitems {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    color: #063a38;
    font-size: 12px;
    padding: 0px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    margin-bottom: 15px;
    border: none;
    border-width: thin;
}

/* ALL LISTITEMS & ICONS */

.footer__listitems--home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    border: none;

}

.footer__listitems--explore {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
}
.footer__listitems--treasures {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
}
.footer__listitems--profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
}

.footer__listitems--home:hover {
    transform: scale(1);
}
.footer__listitems--explore:hover {
    transform: scale(1);
}
.footer__listitems--profile:hover {
    transform: scale(1);
}
.footer__listitems--treasures:hover {
    transform: scale(1);
}

/* NAVLINKS NOT ACTIVE & ACTIVE */

/* HOME NAVLINK */
.home__link {
    color: #063a38 !important;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.home__link:hover {
    color: #faebd4 !important;
    text-decoration: none;
    transform: scale(1.1);
}

.home__link:active {
    color: #d36d00 !important;
    text-decoration: none;
}

/*
.home__link--active {
    color: #d36d00 !important;
    text-decoration: none;
}
*/

/* EXPLORE NAVLINK */
.explore__link {
    color: #063a38 !important;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.explore__link:hover {
    color: #faebd4 !important;
    text-decoration: none;
    transform: scale(1.1);
}

.explore__link:active {
    color: #d36d00 !important;
    text-decoration: none;
}

/*
.explore__link--active {
    color: #d36d00 !important;
    text-decoration: none;
}
*/

/* TREASURES NAVLINK */
.treasures__link {
    color: #063a38 !important;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.treasures__link:hover {
    color: #faebd4 !important;
    text-decoration: none;
    transform: scale(1.1);

    
}

.treasures__link:active {
    color: #d36d00 !important;
    text-decoration: none;
}

/*
.treasures__link--active {
    color: #d36d00 !important;
    text-decoration: none;
}
*/

/* PROFILE NAVLINK */
.profile__link {
    color: #063a38 !important;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.profile__link:hover {
    color: #faebd4 !important;
    text-decoration: none;
    transform: scale(1.1);
}

.profile__link:active {
    color: #d36d00 !important;
    text-decoration: none;
}



/*
.profile__link--active {
    color: #d36d00 !important;
    text-decoration: none;
}
*/