.menu__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    /*box-shadow: 0px 0px 15px rgba(255, 245, 212, 0.7);*/
    background-color: #063a38;

    position: fixed;
    top: 0;
    width: 100%;
}

.button__left--history {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: none;
    border: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: #063a38;

}


.arrow__icon--left {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-top: 10px;
}


.arrow__icon--right {
    padding-right: 10px;
    padding-top: 10px;
}