.menu__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 0px 22px 0px rgba(6,58,56,0.28);
    background-color: #063a38;

    position: relative;
}

.arrow__icon--left {
    padding-left: 10px;
    padding-top: 10px;
}


.arrow__icon--right {
    padding-right: 10px;
    padding-top: 10px;
}