body {
    background-image: url('../images/forest_from_above_farbe.jpg');
}

/*.searchbar__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 272px;
    border: solid;
    border-color: red;
}*/




/*.content__under--slider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid;
    border-color: red;
    height: 0px;
}

.input__title {
    color: #faebd4;
    margin-bottom: 10px;
    margin-top: 20px;
    text-shadow: 3px 3px 4px rgb(0, 0, 0);
}
.input__location {
    background-color: #5eb990;
    border: none;
    border-radius: 20px;
    color: #063a38;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:10px;
    padding-right: 30px;
    box-shadow: 0px 0px 20px 3px rgba(6, 6, 6, 0.68);
}
*/