/*body {
    height: 620px;
    background-image: url('./images/forest_from_above_farbe.jpg');
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}*/

.content__card--wrapper {
    border: none;
    border-width: thick;
    border-color: red;

    width: 375px;
    height: 600px;
    /*box-shadow: 0px 0px 20px 3px rgba(6, 6, 6, 0.68);*/
}


/* GESAMTER BUTTON CONTAINER, DER LINKS UND RECHTS WRAPPED */

.allbuttons__container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    border: none;
    border-color: rgb(0, 238, 255);
    border-width: thin;

    margin-left: 20px;
    margin-right: 20px;
    position: absolute;
    margin-top: 120px;
    z-index: 100;

    opacity: 0.7;
}

/* LINKER BUTTON PFEIL CONTAINER */
.buttonbox__left {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-width: thin;
    border-color: rgb(247, 0, 255);
    border-radius: 50%;
    background-color: white;
    
    width: 20px;
    height: 20px;
    margin-right: 290px;
}

.button__icon--left{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-width: thin;
    border-color: rgb(247, 0, 255);


    width: 10px;
    height: 10px;
    padding-right: 2px;
}


/* RECHTER BUTTON PFEIL CONTAINER */
.buttonbox__right {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-width: thin;
    border-color: rgb(247, 0, 255);
    border-radius: 50%;
    background-color: white;
    
    width: 20px;
    height: 20px;
    margin-right: 0px;
}
.button__icon--right {
    border: none;
    border-width: thin;
    border-color: rgb(247, 0, 255);


    width: 10px;
    height: 10px;
    padding-right: -2px;
}












/* DER CONTENT, DER ÜBER DIE FORESTDATA AUSGEGEBEN WIRD */

.forest__container {
    border: none;
    border-width: thin;
    border-color: yellow;
    margin: 0px;

    width: 375px;
    height: 600px;

    display: flex;
    flex-direction: column;
}

.main__image {
    border: none;
    width:375px;
    height:260px;
}

/* WRAPPED DIE HEADLINE UND DEN TEXT */

.title__wrapper {
    border: none;
    position: absolute;
    margin-top: 185px;
    padding-left: 0px;
    padding-right: 0px;
}

.forest__title {
    color: #faebd4;
    padding-left: 15px;
    padding-bottom: 0px;
    text-shadow: 3px 3px 4px rgb(0, 0, 0);
}

.forest__text {
    /*background-color: black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;*/
    color: #faebd4;
    /*color: #063a38;*/
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 0px;
    margin-top: 10px;
    font-weight: 0;
    /*text-shadow: 3px 3px 4px rgb(0, 0, 0);*/
}

.subline__wrapper {
    display: flex;
    justify-content: space-between;
    /*background-color: #5eb990;*/
    background-color:#063a38;
    /*background-color:#f8e9d2;*/
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0px;
    padding-right: 0px;
    width: 375px;
    opacity: 0.9;
}

.paragraph__wrapper {
    /*background-color: #faebd4;*/
    background-color: rgb(255, 0, 0);
    color: #063a38;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 20px;

    opacity: 0.9;
    
}

.lupenicon__wrapper {
    background-color:none;
    border-radius: 50%;
    padding: 0px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.button__lupenicon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: #5eb990; 
}

h3 {
    padding: 0px;
    margin: 0px;
}

p {
    padding: 0px;
    margin: 0px;
}
