.map {
    height: 550px;
    position: relative;
}


.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    background-color:  #fff8ec !important;
    border: none;
    padding: 0;
    margin: 0;
}