.section__paragraph--container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 10px;
    margin: 0px;
    border: none;
    border-color: red;
    margin-bottom: 30px;
}

/* DIV__PARAGRAPH__IMAGE */
.paragraph__container--image {
    position: relative;
    width: 422px;
    height: 300px;
    background-color: #5eb990;
    background-image: url;
    margin-bottom: 25px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}

/* DIV__IMAGE TEXT */
.image__text {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.image__text--headline1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    color: #edd9bc;
    margin: 0px;
    padding: 0px;
}


/* DIV__HEADLINE__H2 */

.headline__container {
    border: none;
    border-color: purple;
    padding-left: 10px;
}

.headline__container--h2 {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    color: #063a38;
}

/* DIV__PARAGRAPH__P1 */

.paragraph__container {
    border: none;
    border-color: purple;
    padding: 0px;
}

.paragraph__container--p1 {
    padding-left: 10px;
    margin: 0px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #063a38;
}