.popup__content--wrapper {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.popup__image--wrapper {
    width: 150px;
    height: 100px;
    /*background-color: #063a38;*/
    margin-bottom: 0;
}

h4 {
    padding: 0;
    margin-bottom: 5px;
    color: #063a38;
    font-family: 'Montserrat', sans-serif;
}

.popup__paragraph {
    padding: 0px;
    margin-top: 0px;
    color: #063a38;
    font-family: 'Montserrat', sans-serif;
    width: 150px;
}

.leaflet-popup-content p {
    margin-top: 5px !important;
}