.searchbar__section--wrapper {
    border: none;
    border-color:lawngreen;
}

.searchbar__section--topline {
    /*background-color: #063a38;*/
    /*background-color: #faebd4;*/
    background-color: #5eb990;
    width: 100%;
    height: 0.5px;
    border: none;
    boder-color: red;
}
.searchbar__top--wrapper {
    background-color: #063a38;
    /*background-color: #faebd4;*/
    /*background-color: #5eb990;*/
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
    width: 100%;
    height: 60px;
    margin: 0px;
    padding: 0px;
    /*border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;*/
    margin: 0px;
    /*box-shadow: 0px 0px 22px 0px rgba(6,58,56,0.1);*/
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.6908964269301471) 7%, rgba(0,0,0,0) 51%, rgba(0,0,0,0) 100%);
}

.searchbar__top--text {
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 0px;
}

.input__component--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: none;
    border-width: thin;
    border-color: red;

    margin-top:0px;
    
}

.input__label--wrapper {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border: none;
    border-width: thin;
    border-color: red;
    width: 220px;
    height: 25px;
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 2px;
}

.input__icon {
    width: 18px;
    height: 18px;
    border: none;
    border-width: thin;
    border-color: red;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-right: 0px;
    /*background-color: #063a38;*/
    /*background-color: #faebd4;*/
    /*background-color: #ff931f;*/
    background-color: #5eb990;
    border-radius: 50%;
    margin-left: 12px;
    margin-bottom: 0px;
    margin-top: 4px;
    opacity: 1;

    box-shadow: 0px 0px 5px rgba(0,0,0,0.58);
}

.input__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    border: none;
    border-width: thin;
    border-color: red;
}

.label__title {
    color: #faebd4;
    margin-top: 5px;
    margin-left: 5px;
    padding: 0px;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.58);
}
            
.input__field {
    /*background-color: #063a38;*/
    background-color: #faebd4;
    /*background-color: #5eb990;*/
    border: none;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 205px;
    margin-bottom: 5px;
    margin-top: 3px;
    margin-left: 7px;

    box-shadow: 0px 0px 5px rgba(0,0,0,0.58);
}
      