.slider__card--wrapper {
    border: none;
    height: 250px;
    /*box-shadow: 0px 0px 20px 3px rgba(6, 6, 6, 0.68);*/
}


/* GESAMTER BUTTON CONTAINER, DER LINKS UND RECHTS WRAPPED */

.slider__allbuttons--container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border: none;
    margin-left: 20px;
    margin-right: 20px;
    position: absolute;
    margin-top: 120px;
    z-index: 100;
}

/* LINKER BUTTON PFEIL CONTAINER */
.slider__buttonbox--left {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 290px;
    background-color: #faebd4;
    box-shadow: 0px 0px 22px 0px rgba(6,58,56,0.5);
    cursor: pointer;
    transition: all .2s ease-in-out;
    opacity: 0.8;
}

.slider__buttonbox--left:hover {
    transform: scale(1.1);
    box-shadow: 0 0px 5px rgba(208, 255, 237, 0.952);
}


.slider__button--right{
    border: none;
    width: 10px;
    height: 10px;
    padding-left: 3px;
}


/* RECHTER BUTTON PFEIL CONTAINER */
.slider__buttonbox--right {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #faebd4;
    box-shadow: 0px 0px 22px 0px rgba(6,58,56,0.5);
    cursor: pointer;
    transition: all .2s ease-in-out;
    opacity: 0.8;
}

.slider__buttonbox--right:hover {
    transform: scale(1.1);
    box-shadow: 0 0px 5px rgba(208, 255, 237, 0.952);
}
.slider__button--right {
    border: none;
    width: 10px;
    height: 10px;
    padding-left: 3px;
}












/* DER CONTENT, DER ÜBER DIE FORESTDATA AUSGEGEBEN WIRD */

.slider__container {
    border: none;
    border-color: yellow;
    margin: 0px;
    height: 250px;
    display: flex;
    flex-direction: column;
}

.slider__main--image {
    border: none;
    width:375px;
    height:250px;
}

/* WRAPPED DIE HEADLINE UND DEN TEXT */

.slider__title--wrapper {
    border: none;
    position: absolute;
    margin-top: 155px;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.slider__title {
    color: #faebd4;
    padding-left: 10px;
    padding-bottom: 0px;
    margin-bottom: 5px;
    text-shadow: 3px 3px 4px rgb(0, 0, 0);
}

.slider__text {
    color: #faebd4;
    padding-left: 10px;
    margin-top: 0px;
    text-shadow: 3px 3px 4px rgb(0, 0, 0);
}
