.content__card--wrapper {
    border: none;
    height: 250px;
    box-shadow: 0px 0px 20px 3px rgba(6, 6, 6, 0.68);
}


/* GESAMTER BUTTON CONTAINER, DER LINKS UND RECHTS WRAPPED */

.allbuttons__container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border: none;
    margin-left: 20px;
    margin-right: 20px;
    position: absolute;
    margin-top: 120px;
    z-index: 100;
}

/* LINKER BUTTON PFEIL CONTAINER */
.buttonbox__left {
    border: none;
    width: 20px;
    height: 20px;
    margin-right: 290px;
}

.button__icon--left{
    border: none;
    width: 10px;
    height: 10px;
    padding-right: 3px;
}


/* RECHTER BUTTON PFEIL CONTAINER */
.buttonbox__right {
    border: none;
    width: 20px;
    height: 20px;
}
.button__icon--right {
    border: none;
    width: 10px;
    height: 10px;
    padding-left: 3px;
}












/* DER CONTENT, DER ÜBER DIE FORESTDATA AUSGEGEBEN WIRD */

.forest__container {
    border: none;
    border-color: yellow;
    margin: 0px;
    height: 250px;
    display: flex;
    flex-direction: column;
}

.main__image {
    border: none;
    width:375px;
    height:250px;
}

/* WRAPPED DIE HEADLINE UND DEN TEXT */

.title__wrapper {
    border: none;
    position: absolute;
    margin-top: 175px;
    padding-left: 10px;
    padding-right: 10px;
}

.forest__title {
    color: #faebd4;
    padding-left: 10px;
    padding-bottom: 0px;
    text-shadow: 3px 3px 4px rgb(0, 0, 0);
}

.forest__text {
    color: #faebd4;
    padding-left: 10px;
    margin-top: 5px;
    text-shadow: 3px 3px 4px rgb(0, 0, 0);
}
h3 {
    padding: 0px;
    margin: 0px;
}

p {
    padding: 0px;
    margin: 0px;
}
